/*-------------------------------------
	Theme colors
-------------------------------------*/
$color__primary: #f69223;
$color__secondary: #f1801a;

/*-------------------------------------
	Base text colors
-------------------------------------*/
$color__text--primary: #0f233b;
$color__text--secondary: #b6aa9c;
$color__text--alert: #f55428;

/*-------------------------------------
	Base background colors
-------------------------------------*/
$color__background--primary: #f8efe6;

/*-------------------------------------
	Others
-------------------------------------*/
$color__partial--divider: #ede3d9;